<div class="btn-box-row row-fluid">
    <a href="#/story/add" class="btn-box small span2">
        <i class="icon-plus-sign"></i>
        <b>Add story</b>
    </a>
</div>

<div class="module">
    <div class="module-head">
        <h3>Taskboard</h3>
    </div>
    <div class="module-body">
        <form class="form-horizontal row-fluid">
            <div class="control-group">
                <label class="control-label" for="showClosed">Show closed stories</label>
                <div class="controls">
                    <input type="checkbox" ng-model="data.showClosed" id="showClosed">
                </div>
            </div>
        </form>

        <table width="100%" class="taskBoard">
            <tr>
                <th>Story</th>
                <th data-ng-repeat="state in data.states">[[ state ]]</th>
            </tr>
            <tr data-ng-repeat="story in data.stories | stories">
                <td>
                    <div class="story-state">[[ story.state ]]</div>
                    [[ story.name ]]
                    <a href="#/tasks/add/[[story.id]]">Add task</a>
                    <a href="#/story/edit/[[story.id]]">Edit story</a>
                    <a ng-click="closeStory(story)" ng-hide="story.state == 'CLOSED'">Close story</a>
                </td>
                <td data-ng-repeat="state in data.states">
                    <ul ui-sortable="{connectWith: '.tasks_'+story.id, receive: receiveFn}"
                        class="tasks tasks_[[story.id]]" data-state="[[ state ]]" data-ng-model="story[state]">
                        <li data-ng-repeat="task in story[state]" data-task-id="[[ task.id ]]"
                            data-story-id="[[ story.id ]]">
                            [[ task.name ]]
                            <a href="#/tasks/edit/[[story.id]]/[[ task.id ]]">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>